.next {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}
 