 .container-fluid h2{
    color:#ea9d17;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
  
  }
  .container-fluid span{
    color:black;
    font-size: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
  }
  .container-fluid p{
    color: black;
    font-weight: 600;
  }
  .provide{
    width: 147px;
    height: 147px;
    border-radius: 50%;
    padding:8px;
    border:3px solid #ea9d17;
  
  }
  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text{
    margin: 0;
    text-align: center;
}
 

  
  @media (max-width: 938px) {
    .col-md-6.empower h2{
      font-size: 35px;  
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
      font-weight: 800;
    }
    .container-fluid-video {
      margin-top: 10%;
    }
  .container.elements.shift-down span{
      font-size: 35px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
      font-weight: 800;
    }
  .col-md-6.empower h2:nth-child(2){
      font-size: 47px;  
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
      font-weight: 800;
  }   
  .thin{
    font-size: 47px;
    font-family:initial !important;
    
   }
   
   .col-md-6.empower p{
    font-weight: 600;
    color:white; 
    font-size: 16px;
   
  }
  .row.justify-content-center.faq .card {
    margin: 0;
    padding: 0;
    width: 600px;
  }

  
  } 
  

  
  @media (max-width: 500px) {
    .container-fluid-video {
      padding-top: 22%;
    
    }
  
    .col.elements.m {
      margin-top:1rem;
  }  
  
  
    }
    @media (max-width: 420px) {
 
       .row.justify-content-center.elements {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
       }
       .provide{
        width: 107px !important;
        height: 107px !important;
        margin: 0;
        border-radius: 50%;
        border:2px solid #ea9d17;
          
    }

.newp{
  margin-right: 70px;
}
    .new.text-center.elements{
      display: flex;
      align-items: center;
      margin-left: 15px;
     
    
    }
    .text-container {
   
     display: none;
  }
  .worktext{
    display: block;
    margin-left: 15px;
  }
  .worktext p{
    font-size: 14px;
  }
      
    
  .col.elements {
        flex: 0 0 100%; 
        max-width: 100%;
      }
  .next {
        display: flex;
        justify-content: center;
        flex-direction: column;
        min-height: 100%;
        min-width: 100%;
      
      }
   
    
  .col.elements.m {
        margin-top:1rem;
    }
  .container-fluid-video {
      padding-top: 18%;
    
    }  
  .navbar-brand {
         flex-wrap: wrap;
      }
  .container-fluid {
         padding: 0 15px;
      }
  .review-card-body {
        height: 390px !important; 
      } 
    }
     @media (max-width: 405px) {
    .newp{
      margin-right: 60px;
    }
}
   
          
  @media (max-width: 405px) {
    .newp{
      margin-right: 60px;
    }
}
   
       
  @media (max-width: 394px) {
    .newp{
      margin-right: 50px;
    }
}
@media (max-width: 385px) {
  .newp{
    margin-right: 40px;
  }
}
@media (max-width: 376px) {
  .newp{
    margin-right: 30px;
  }
}
@media (max-width: 355px) {
  .newp{
    margin-right: 50px;
  }
  .worktext p{
    font-size: 13px;
   }
}
@media (max-width: 375px) {
  .workp{
    margin-right: 60px;
  }
}

@media (max-width: 368px) {
 
  .workp{
    margin-right: 60px;
  }
}
       
@media (max-width: 364px) {
  .newp{
    margin-right: 20px;
  }
}
@media (max-width: 346px) {
  .detp{
    margin-right: 40px;
  }
}
@media (max-width: 344px) {
  .newp{
    margin-right: 50px;
  }
}
@media (max-width: 334px) {
  .detp{
    margin-right: 20px;
  }
}
@media (max-width: 337px) {
  .workp{
    margin-right: 35px;
  }
}
@media (max-width: 325px) {
.worktext p{
 font-size: 13px;
}
}
@media (max-width: 321px) {
  .worktext p{
    font-size: 12px;
   }
}
@media (max-width: 345px) {
  .newp{
    margin: 0 0 0 0px;
  }
}
   
  